body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.houseAttr{
  background-color:aquamarine;
  width: 200px;
  font-family:fantasy;
}

.variable{
  background-color:darkgray;
  width: 500px;
  font-style: oblique;
}

.head{
  background-color:cornflowerblue;
  width:700px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
